*{
    margin:0;
    padding:0;
}
#heading1{
    color:red;
    background-color: antiquewhite;
    margin:100px;
    padding:10px;
}
.heading2{
   /* margin-left:30px;
   margin-right:10px;
   margin-top:5px;
   margin-bottom:0px;
   padding:2px; */
   margin:12px 30px 10px 20px;
   background-color: aquamarine;

}
h3{
    border:5px solid red;
}
h4{
    margin:20px 20px;
    padding:4px;
    border:10px dotted burlywood;
}
.borderBox{
    margin:100px;
    border:10px solid red;
    height:75%;
    width: 50%;
}